$primary-color: #1e3a57;
$secondary-color: #ff9a8a;
$third-color: #a09db7;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$primary-font: "Poppins", sans-serif;